body {
  color: black;
  margin: 8px;
  font-family: Arial, sans-serif;
  background-image: url("Images/reseau_decentralise.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1, h2 {
  font-family: "Lucida Calligraphy", cursive;
}
