body {
  background-image: url("back2.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  margin: 8px;
  font-family: Arial, sans-serif;
}

h1, h2 {
  font-family: "Lucida Calligraphy", cursive;
}
