html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("back5.jpg");
  background-color: lightblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: Arial, sans-serif;
}

h1, h2 {
  font-family: "Lucida Calligraphy", cursive;
}

a {
  font-size: 25;
}
